[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
commitizen = "*"
pact-python = "*"
pre-commit = "*"
pylint = "*"
pytest = "*"
pytest-bdd = "*"
pytest-cov = "*"
pytest-describe = "*"
pytest-describe-it = "*"
pytest-html = "*"
pytest-mock = "~=3.6.1"
pytest-pspec = "*"
pytest-watch = "*"
python-semantic-release = "*"

[packages]
fastapi = '*'
requests = "*"
uvicorn = '*'

[requires]
python_version = "3"

[scripts]
UnitTests = "pytest tests/unit"
IntegrationTests = "pytest tests/integration"
ReleaseTests = "pytest tests/release"
ApiTests = "pytest tests/api"
tests = "pytest tests/unit tests/integration tests/release tests/api"
coverage = "pytest tests/unit tests/integration tests/release tests/api --cache-clear"
coverageHtml = "pytest tests/unit tests/integration tests/release tests/api --cov-report html"
coverageAzureDevOps = "pytest tests/unit tests/integration tests/release tests/api --junit-xml=junit/test-result.xml --cov-report=xml --cov-report=html --cache-clear"
watchUnit = "ptw tests/unit modules/"
watchApiConsumer = "ptw tests/api"
watchIntegration = "ptw tests/integration modules/"
install_pre_hooks = "pre-commit install --install-hooks -t commit-msg -t pre-push -t pre-commit"
linterCheck = "pylint -f msvs modules"
